* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    overflow-x: hidden;
    
}
.section-top{
    height: 730px;
    /* width: 100px; */
}
.back-cover{
    background-image: url(assests/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1; 
    border-radius: 0 0 50% 50%;
}


header {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 80px;
    background-color: rgba(48, 48, 48, 0.491); 
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000; 
}

.nav {
    width: 90%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}


.logo {
    background-image: url(assests/logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 60px;
    width: 200px;
}

.nav-link {
    display: flex;
    gap: 10px; 
}

.nav-link a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

.nav-link a:hover {
    color: #007BFF;
}


.section{
    display: flex;
    height: 225px;
    width: 100vw;
    padding: 60px 0px 30px ;
    background-color: rgb(255, 255, 255);
}
.counts{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    height: 135px;
    width: 100vw;
    background-color: rgb(253, 255, 253);
}
.box{
    display: flex;
    height: 135px;
    width: 290px;
    background-color: #ffff;
    padding: 30px ;
    box-shadow: rgba(0, 0, 0, 0.1) -10px -5px 40px 0px;
}
.box-content{
    display: flex;
    gap: 20px;
    color: #444444;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: normal;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box-content p span{
    font-weight: 700;

}
/* ABOUT US ||||||||||||||||||||||||||||| */

.section-about{
    display: flex;
    flex-direction: column;
    height: 660px;
    width: auto;
    padding: 60px 0px;
}
.section-title{
    display: flex;  
    height: 40px;
    justify-content: center;
    /* width: 1290px; */
    /* padding-bottom: 20px; */
    /* margin-bottom: 20px; */
}
.section-title h2{
    /* display: flex; */
    font-size: 32px;
    font-weight: 700;
}
.content-container{
    display: flex;
    height: 580px;
    width: 1140px;
    justify-content: space-between;
    padding: 0px 12px; 
     margin: 40px 40px;
     gap: 20px;
}

.img{
    height: 450px;
    width: 500px;
    padding: 0px 12px;
    display: flex;
    /* text-align: start; */
   
}
.content{
    display: flex;
    height: 500px;
    width: 560px;
    padding: 0px 12px;
    color: #444444;
   
}
/* feature section |||||||||||||\\\\\\\\\ */

.featured-container{
    display: flex;
    justify-content: space-evenly;
    background-color: #444444;
    /* height: 540px; */
    /* width: 1256px; */
    padding: 60px 0px;
    color: #444444;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 420px;
    width: 570px;
    /* padding: 0px 12px; */
    font-size: 16px;
    color: #000000;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) -10px -5px 40px 0px;
    border-radius: 9px;
}
.card:hover{
    background-color: #20bdff;
    transition: 0.8s ease-in-out;
   
    color: #ffff;

}
.spacer{
   height: 300px ;
}